* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #dcddde;
}
body {
  color: white;
  font-family: "Roboto";
}
.container {
  max-width: 940px;
  margin: 0 auto;
}

.dark {
  background-color: #171d25;
}

.header {
  padding-top: 7px;
  padding-bottom: 15px;
  background-color: #171d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.headernav {
  padding: 25px 0px 25px 0px;
}
.header__logo img {
  width: 170px;
  height: 70px;
}
.nav ul {
  display: flex;
  gap: 15px;
}
.nav__link {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.headerright {
  align-self: flex-start;
  display: flex;
  gap: 10px;
  font-size: 11px;
}
.headerright button {
  background-color: #5c7e10;
  color: white;
  border-radius: 0px;
  border-style: none;
  padding: 5px 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerright button:hover {
  background-color: #7fb310cb;
  transition: 0.5s;
  cursor: pointer;
}
.blue {
  background-color: #2681da;
}
.noentrybanner {
  display: flex;
  padding: 10px 0px;
  gap: 15px;
}
.noentrybanner__link-desktop {
  background-color: #d7e7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  border-radius: 2px;
  font-size: 15px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.5);
}
.noentrybanner__link-desktop:hover {
  background-color: white;
}
.noentrybanner__link-desktop a {
  color: #3d7291;
  padding: 0px 15px;
}
body {
  background-color: #1b2838;
}
.menu {
  margin-top: 7px;
}
.noentrybanner__descriptopn {
  color: #a8cef3;
}
.menu-links__search {
  background-color: #316282;
  border: none;
  border-radius: 2px;
}
.menu-links__search[placeholder] {
  padding-left: 10px;
}
.menu-links {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  background: rgb(59, 100, 145);
  background: linear-gradient(
    90deg,
    rgba(59, 100, 145, 1) 0%,
    rgba(15, 33, 110, 1) 100%
  );
}
.menu-links__link {
  padding: 7px;
  font-size: 14px;
  text-align: center;
}
.menu-links__link:hover {
  background: rgb(48, 127, 192);
  background: linear-gradient(
    90deg,
    rgba(48, 127, 192, 1) 0%,
    rgba(46, 77, 112, 0) 100%
  );
}
.category-game {
  color: #8f98a0;
  font-size: 13px;
  margin-top: 25px;
}
.category-game a {
  color: #8f98a0;
  font-size: 13px;
}
.category-game a:hover {
  color: white;
  font-size: 13px;
}
.gamename {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px 10px 0px;
}
.gamename__centerlink {
  font-size: 15px;
}
.gamename__centerbutton {
  background-color: #33516f;
  padding: 7px 15px;
  border-radius: 2px;
}
.gamename__centerbutton:hover {
  background-color: #5c86b1;
  cursor: pointer;
}
.gamename__centerbutton a {
  color: #5fc1e3;
}
.gamename__name {
  font-size: 26px;
}
.maingamedescription {
  background: rgb(48, 127, 192);
  background: linear-gradient(
    159deg,
    rgba(48, 127, 192, 0) 0%,
    rgba(26, 34, 43, 1) 100%
  );
}
.maingamedescription-container {
  display: flex;
  justify-content: space-between;
}
.maingamedescription-container-leftside {
  max-width: 600px;
}
.maingamedescription-container__img img {
  width: 100%;
  height: 100%;
}
.maingamedescription-container__scroll {
  display: flex;
  gap: 3px;
  overflow-x: scroll;
}
.maingamedescription-container-rigthside {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.maingamedescription-container-rigthside__img {
  max-width: 325px;
}
.maingamedescription-container-rigthside__img img {
  width: 325px;
}
.maingamedescription-container-rigthside__text {
  font-size: 13px;
  color: #c6d4df;
  line-height: 18px;
}
.maingamedescription-container-rigthside-rewi {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
.maingamedescription-container-rigthside-rewi__nedavnie {
  color: #556772;
}
.maingamedescription-container-rigthside-rewi__category a {
  color: #66c0f4;
}
.maingamedescription-container-rigthside-date {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #556772;
  max-width: 60%;
}
.up {
  text-transform: uppercase;
  font-size: 11px;
}
.razrab-izdatel {
  max-width: 60%;
}
.razrab {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.izdatel {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.razrab__label {
  color: #556772;
}
.izdatel__label {
  color: #556772;
}
.razrab__name {
  color: #66c0f4;
}
.izdatel__name {
  color: #66c0f4;
}
.popular-marker {
  display: flex;
  flex-direction: column;
}
.popular-marker__label {
  font-size: 12px;
  color: #556772;
}
.popular-marker-buttons button {
  color: #66c0f4;
  background-color: #2b4252;
  border-style: none;
  border-radius: 2px;
  padding: 2px 7px;
  font-size: 11px;
}
.popular-marker-buttons button:hover {
  color: white;
  background: rgb(102, 191, 242);
  background: linear-gradient(
    159deg,
    rgba(102, 191, 242, 1) 0%,
    rgba(66, 125, 159, 1) 100%
  );
}
.popular-marker-buttons {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}
.right-des {
  max-width: 97%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.entry-to-get-banner {
  padding: 16px;
  background: rgb(26, 37, 50);
  background: linear-gradient(
    100deg,
    rgba(26, 37, 50, 1) 0%,
    rgba(30, 41, 54, 0.6082633737088585) 100%
  );
  font-size: 12px;
}
.entry-to-get-banner p {
  color: #c6d4df;
}
.play-cs2 {
  margin-top: 35px;
  background: rgb(45, 61, 75);
  background: linear-gradient(
    100deg,
    rgba(45, 61, 75, 1) 0%,
    rgba(87, 102, 116, 1) 100%
  );
  padding: 16px 16px 0px 16px;
  border-radius: 3px;
  font-size: 20px;
}
.section-content-left {
  max-width: 600px;
}
.play-cs2__label {
  display: flex;
  justify-content: space-between;
}
.cena {
  display: flex;
  background-color: black;
  padding: 3px;
  justify-content: space-between;
  max-width: 35%;
  height: 32px;
  position: relative;
  top: 15px;
  left: 65%;
}
.cena button {
  padding: 0 15px;
  font-size: 15px;
  border-style: none;
  background: linear-gradient(to right, #83c724 5%, #6aa621 95%);
  border-radius: 2px;
  color: #b2ec78;
}
.cena button:hover {
  background: linear-gradient(to right, #b4e272 5%, #6aa621 95%);
  color: white;
  cursor: pointer;
}
.cena__cena {
  padding-left: 12px;
  padding-top: 8px;
  padding-right: 12px;
  font-size: 13px;
}
.buy-prime__label {
  display: flex;
  justify-content: space-between;
}
.buy-prime {
  background: rgb(45, 61, 75);
  background: linear-gradient(
    100deg,
    rgba(45, 61, 75, 1) 0%,
    rgba(87, 102, 116, 1) 100%
  );
  padding: 16px 16px 0px 16px;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 50px;
}
.buy-prime__text-aboutprime {
  font-size: 13px;
  color: #c6d4df;
}
.buy-prime__text {
  font-size: 20px;
}
.moneyback {
  background: rgb(44, 60, 74);
  background: linear-gradient(
    -90deg,
    rgba(44, 60, 74, 1) 0%,
    rgb(46, 62, 82) 100%
  );
  padding: 25px;
  font-size: 12px;
  color: #929ca6;
}
