* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #dcddde;
}
body {
  color: white;
  font-family: "Roboto";
}
.container {
  max-width: 940px;
  margin: 0 auto;
}

.dark {
  background-color: #171d25;
}

.header {
  padding-top: 7px;
  padding-bottom: 15px;
  background-color: #171d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.headernav {
  padding: 25px 0px 25px 0px;
}
.header__logo img {
  width: 170px;
  height: 70px;
}
.nav ul {
  display: flex;
  gap: 15px;
}
.nav__link {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.headerright {
  align-self: flex-start;
  display: flex;
  gap: 10px;
  font-size: 11px;
}
.headerright button {
  background-color: #5c7e10;
  color: white;
  border-radius: 0px;
  border-style: none;
  padding: 5px 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerright button:hover {
  background-color: #7fb310cb;
  transition: 0.5s;
  cursor: pointer;
}
.blue {
  background-color: #2681da;
}
.noentrybanner {
  display: flex;
  padding: 10px 0px;
  gap: 15px;
}
.noentrybanner__link-desktop {
  background-color: #d7e7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  border-radius: 2px;
  font-size: 15px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.5);
}
.noentrybanner__link-desktop:hover {
  background-color: white;
}
.noentrybanner__link-desktop a {
  color: #3d7291;
  padding: 0px 15px;
}
body {
  background-color: #1b2838;
}
.menu {
  margin-top: 7px;
}
.noentrybanner__descriptopn {
  color: #a8cef3;
}
.menu-links__search {
  background-color: #316282;
  border: none;
  border-radius: 2px;
}
.menu-links__search[placeholder] {
  padding-left: 10px;
}
.menu-links {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  background: rgb(59, 100, 145);
  background: linear-gradient(
    90deg,
    rgba(59, 100, 145, 1) 0%,
    rgba(15, 33, 110, 1) 100%
  );
}
.menu-links__link {
  padding: 7px;
  font-size: 14px;
  text-align: center;
}
.menu-links__link:hover {
  background: rgb(48, 127, 192);
  background: linear-gradient(
    90deg,
    rgba(48, 127, 192, 1) 0%,
    rgba(46, 77, 112, 0) 100%
  );
}
.category-game {
  color: #8f98a0;
  font-size: 13px;
  margin-top: 25px;
}
.category-game a {
  color: #8f98a0;
  font-size: 13px;
}
.category-game a:hover {
  color: white;
  font-size: 13px;
}
.gamename {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px 10px 0px;
}
.gamename__centerlink {
  font-size: 15px;
}
.gamename__centerbutton {
  background-color: #33516f;
  padding: 7px 15px;
  border-radius: 2px;
}
.gamename__centerbutton:hover {
  background-color: #5c86b1;
  cursor: pointer;
}
.gamename__centerbutton a {
  color: #5fc1e3;
}
.gamename__name {
  font-size: 26px;
}
.maingamedescription {
  background: rgb(48, 127, 192);
  background: linear-gradient(
    159deg,
    rgba(48, 127, 192, 0) 0%,
    rgba(26, 34, 43, 1) 100%
  );
}
.maingamedescription-container {
  display: flex;
  justify-content: space-between;
}
.maingamedescription-container-leftside {
  max-width: 600px;
}
.maingamedescription-container__img img {
  width: 100%;
  height: 100%;
}
.maingamedescription-container__scroll {
  display: flex;
  gap: 3px;
  overflow-x: scroll;
}
.maingamedescription-container-rigthside {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.maingamedescription-container-rigthside__img {
  max-width: 325px;
}
.maingamedescription-container-rigthside__img img {
  width: 325px;
}
.maingamedescription-container-rigthside__text {
  font-size: 13px;
  color: #c6d4df;
  line-height: 18px;
}
.maingamedescription-container-rigthside-rewi {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
.maingamedescription-container-rigthside-rewi__nedavnie {
  color: #556772;
}
.maingamedescription-container-rigthside-rewi__category a {
  color: #66c0f4;
}
.maingamedescription-container-rigthside-date {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #556772;
  max-width: 60%;
}
.up {
  text-transform: uppercase;
  font-size: 11px;
}
.razrab-izdatel {
  max-width: 60%;
}
.razrab {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.izdatel {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.razrab__label {
  color: #556772;
}
.izdatel__label {
  color: #556772;
}
.razrab__name {
  color: #66c0f4;
}
.izdatel__name {
  color: #66c0f4;
}
.popular-marker {
  display: flex;
  flex-direction: column;
}
.popular-marker__label {
  font-size: 12px;
  color: #556772;
}
.popular-marker-buttons button {
  color: #66c0f4;
  background-color: #2b4252;
  border-style: none;
  border-radius: 2px;
  padding: 2px 7px;
  font-size: 11px;
}
.popular-marker-buttons button:hover {
  color: white;
  background: rgb(102, 191, 242);
  background: linear-gradient(
    159deg,
    rgba(102, 191, 242, 1) 0%,
    rgba(66, 125, 159, 1) 100%
  );
}
.popular-marker-buttons {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}
.right-des {
  max-width: 97%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.entry-to-get-banner {
  padding: 16px;
  background: rgb(26, 37, 50);
  background: linear-gradient(
    100deg,
    rgba(26, 37, 50, 1) 0%,
    rgba(30, 41, 54, 0.6082633737088585) 100%
  );
  font-size: 12px;
}
.entry-to-get-banner p {
  color: #c6d4df;
}
.play-cs2 {
  background: rgb(45, 61, 75);
  background: linear-gradient(
    100deg,
    rgba(45, 61, 75, 1) 0%,
    rgba(87, 102, 116, 1) 100%
  );
  padding: 16px 16px 0px 16px;
  border-radius: 3px;
  font-size: 20px;
}
.section-content {
  display: flex;
  gap: 15px;
  margin-top: 35px;
}
.section-content-left {
  max-width: 600px;
}

.play-cs2__label {
  display: flex;
  justify-content: space-between;
}
.cena {
  display: flex;
  background-color: black;
  padding: 3px;
  justify-content: space-between;
  max-width: 35%;
  height: 32px;
  position: relative;
  top: 15px;
  left: 65%;
}
.cena button {
  padding: 0 15px;
  font-size: 15px;
  border-style: none;
  background: linear-gradient(to right, #83c724 5%, #6aa621 95%);
  border-radius: 2px;
  color: #b2ec78;
}
.cena button:hover {
  background: linear-gradient(to right, #b4e272 5%, #6aa621 95%);
  color: white;
  cursor: pointer;
}
.cena__cena {
  padding-left: 12px;
  padding-top: 8px;
  padding-right: 12px;
  font-size: 13px;
}
.buy-prime__label {
  display: flex;
  justify-content: space-between;
}
.buy-prime {
  background: rgb(45, 61, 75);
  background: linear-gradient(
    100deg,
    rgba(45, 61, 75, 1) 0%,
    rgba(87, 102, 116, 1) 100%
  );
  padding: 16px 16px 0px 16px;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 50px;
}
.buy-prime__text-aboutprime {
  font-size: 13px;
  color: #c6d4df;
}
.buy-prime__text {
  font-size: 20px;
}
.moneyback {
  background: rgb(44, 60, 74);
  background: linear-gradient(
    -90deg,
    rgba(44, 60, 74, 1) 0%,
    rgb(46, 62, 82) 100%
  );
  padding: 20px;
  font-size: 12px;
  color: #929ca6;
  text-align: right;
}
.moneyback a {
  text-decoration: underline;
  color: #929ca6;
}
.buy-comlete-pack {
  background: rgb(45, 61, 75);
  background: linear-gradient(
    100deg,
    rgba(45, 61, 75, 1) 0%,
    rgba(87, 102, 116, 1) 100%
  );
  padding: 16px 16px 32px 16px;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 25px;
}
.buy-comlete-pack__zag {
  display: flex;
  justify-content: space-between;
}
.buy-comlete-pack__zag-text span {
  color: #a4d7f5;
  text-transform: uppercase;
}
.buy-comlete-pack__economy-text {
  font-size: 12px;
  color: #c6d4df;
  padding: 5px 0px;
}
.valve-games-miniscreens {
  outline: 5px solid #171f26;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}
.complete-pack-cena {
  display: flex;
  align-items: center;
  height: 32px;
  gap: 5px;
  position: relative;
  top: 45px;
  left: 65px;
}
.complete-pack-cena__info-about {
  background-color: black;
  padding: 2px;
  height: 100%;
}
.complete-pack-cena__nabor {
  background: rgb(60, 161, 240);
  background: linear-gradient(
    90deg,
    rgba(60, 161, 240, 1) 0%,
    rgba(37, 97, 208, 1) 100%
  );
  color: #c3e1f8;
  border-style: none;
  font-size: 15px;
  border-radius: 2px;
  padding: 0px 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.complete-pack-cena__add-cart {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 3px;
  height: 32px;

  align-items: center;
}
.complete-pack-cena__discont {
  color: #58595c;
  padding: 0px 5px;
}
.complete-pack-cena__discont-green {
  background-color: #4c6b22;
  color: #beee11;
  font-size: 25px;
}

.complete-pack-cena__full-price {
  background-color: #344654;
  color: #beee11;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}
.complete-pack-cena__button {
  padding: 0px 15px;
  font-size: 15px;
  border-style: none;
  background: linear-gradient(to right, #83c724 5%, #6aa621 95%);
  border-radius: 2px;
  color: #b2ec78;
  height: 100%;
}
.content-for-game {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.content-for-game__label {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.content-for-game__button {
  font-size: 11px;
  outline: 1px solid #767e88;
  padding: 2px 13px;
  display: flex;
  align-items: center;
  border-radius: 1px;
}
.cs-sound {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background: rgb(45, 61, 75);
  background: linear-gradient(
    100deg,
    rgba(45, 61, 75, 1) 0%,
    rgba(87, 102, 116, 1) 100%
  );
  padding: 3px 10px;
  color: #a8b2ba;
  margin-top: 5px;
}
.cs-sound__free {
  color: white;
}
.recent-events {
  margin-top: 50px;
}
.recent-events-header {
  display: flex;
  justify-content: space-between;
}
.recent-events-header__label {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.recent-events-header__button-show {
  font-size: 11px;
  outline: 1px solid #767e88;
  padding: 2px 13px;
  display: flex;
  align-items: center;
  border-radius: 1px;
}
.recent-events-cards__card img {
  max-width: 100%;
  height: auto;
}
.recent-events-cards {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.recent-events-cards__card {
  display: flex;
  flex-direction: column;
}
.recent-events-cards-description {
  height: 61px;
}
.recent-events-cards-description {
  background-color: #222e37;
  padding: 10px 15px 40px 15px;
}

.recent-events-cards-description__text {
  font-size: 15px;
  max-height: 39px;
  line-height: 19px;
}
.recent-events-cards-description__date {
  color: #b8b9ba;
  font-size: 13px;
  margin-top: 7px;
}
.about-game__header {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 50px;
}
.about-game__text {
  color: #acb2b8;
  line-height: 1.5em;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-game__text ul {
  list-style: square;
  margin-left: 2%;
}
.about-game__text ul li {
  padding: 5px 0px;
}
.adult-content__header {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 50px;
}
.adult-content__description {
  color: #acb2b8;
  line-height: 1.5em;
  font-size: 14px;
}
.adult-content__text {
  color: #acb2b8;
  line-height: 1.5em;
  font-size: 14px;
  font-style: italic;
  padding-top: 5px;
}
.system-requirements__header {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  margin-top: 50px;
}
.system-requirements-choose-platform {
  display: flex;
  background: linear-gradient(
    to right,
    rgba(58, 110, 139, 0.2) 0%,
    rgba(58, 110, 139, 0) 100%
  );
  font-size: 12px;
  padding-top: 8px;
  padding-left: 5px;
  margin-bottom: 15px;
  gap: 5px;
}
.system-requirements-choose-platform__platform {
  font-size: 12px;
  color: #67c1f5;

  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
}
.system-requirements-choose-platform__platform:hover {
  background-color: #18222e;
}
.system-requirements__min {
  text-transform: uppercase;
  line-height: 18px;
  font-size: 10px;
  color: #bcc6cd;
}
.system-requirements__requirements ul {
  font-size: 12px;
  line-height: 18px;
  color: #61686d;
}
.system-requirements__requirements ul li {
  margin: 2px 0;
}
.system-requirements__requirements span {
  color: #bcc6cd;
  margin-left: 5px;
}
.categor {
  display: flex;
}
.section-content-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-blocks {
  padding: 16px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  width: 308px;
}
.category-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.categor__label {
  background: rgba(103, 193, 245, 0.1);
  border-radius: 1px;
  padding: 6px 8px;
  font-size: 12px;
  color: #66c0f4;
  width: 100%;
}
.categor__label:hover {
  color: #ffffff;
  background: #67c1f5;
  background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
}
.categor__icon-img {
  width: 26px;
  height: 16px;
}
.vac {
  background: rgba(103, 193, 245, 0.1);
  font-size: 12px;
  padding: 4px 8px;
  margin-top: 12px;
  line-height: 17px;
}
.vac__label {
  color: #66c0f4;
}
.vac__link {
  color: white;
  cursor: pointer;
}
.languages__label {
  color: #b0aeac;
  font-size: 12px;
}
.languages__table {
  font-size: 12px;
  border-collapse: collapse;
  color: #b0aeac;
}
.table-head {
  text-align: left;
}
.chek {
  width: 62px;
  font-weight: normal;
  text-align: center;
}
.chekpoint {
  color: #66c0f4;
  font-weight: 500;
  text-align: center;
}
.langs {
  padding: 3px 0px 3px 0px;
}
.table-lang-row {
  border-bottom: 1px solid #626366;
}
.support-language {
  margin-top: 3px;
}
.support-language a {
  color: #66c0f4;
  font-size: 12px;
}
.support-language a:hover {
  color: white;
}
.content__header {
  font-size: 16px;
  margin-bottom: 8px;
}
.content__text {
  font-size: 12px;
  color: #7f8890;
  margin-bottom: 2px;
}
.content__text2 {
  font-size: 12px;
  color: #c6d4df;
}
.achivement__header {
  font-size: 12px;
  color: #8f98a0;
  margin-bottom: 2px;
}
.achivement__img {
  margin-top: 5px;
}
.achivement__img img {
  width: 64px;
  height: 64px;
}
.products-for-score__header {
  font-size: 12px;
  color: #7f8890;
}
.products-for-score-items {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.products-for-score-items__img {
  width: 64px;
  height: 64px;
  background-color: black;
}
.products-for-score-items__img img {
  width: 100%;
  height: 100%;
}
.products-for-score-items__show-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #20394b;
  color: #67c1f5;
  font-size: 13px;
  width: 70px;
  height: 64px;
  border-radius: 1px;
}
.rightside-details {
  margin-bottom: 5px;
}
.rightside-details-item {
  display: flex;
  font-size: 10px;
  gap: 3px;
  line-height: 20px;
}
.rightside-details-item__detail-name {
  text-transform: uppercase;
  color: #556772;
}
.rightside-details-item__detail-detail {
  font-size: 12px;
  color: #8f98a0;
}
.rightside-details-item__detail-detail a {
  color: #67c1f5;
}
.rightside-links {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;
}
.rightside-links__link {
  background: rgba(103, 193, 245, 0.1);
  color: #67c1f5;
  line-height: 17px;
  padding: 4px 8px;
  border-radius: 1px;
}
.html-code {
  display: flex;
  gap: 3px;
}
.html-code__html-code {
  background-color: #233d50;
  color: #67c1f5;
  padding: 8px 15px;
  border-radius: 2px;
  font-size: 15px;
}
.html-code__flag {
  background-color: #233d50;
  color: #67c1f5;
  padding: 8px 15px;
  border-radius: 2px;
  font-size: 15px;
}
