* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #dcddde;
}
body {
  color: white;
  font-family: "Roboto";
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.dark {
  background-color: #171d25;
}
.firstsec {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding-top: 40px;
}
.header {
  padding-top: 7px;
  padding-bottom: 15px;
  background-color: #171d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__logo img {
  width: 170px;
  height: 70px;
}
.nav {
  display: flex;
  gap: 15px;
}
.nav__link {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.headerright {
  align-self: flex-start;
  display: flex;
  gap: 10px;
  font-size: 12px;
}
.headerright button {
  background-color: #5c7e10;
  color: white;
  border-radius: 0px;
  border-style: none;
  padding: 5px 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.gradient {
  background: #1b2838;
}

.mainmenu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  padding: 8px;
  background-color: #306199;
}
.popular__label {
  padding-bottom: 10px;
  color: white;
}
.gamecontainer {
  display: flex;
  background-color: #101a23;
  -webkit-box-shadow: 0px -1px 6px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -1px 6px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -1px 6px 7px rgba(0, 0, 0, 0.5);
}
.miniscreen img {
  width: 135px;
  height: 75px;
}
.opisanie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
.gamecontainer__screen {
  -webkit-box-shadow: 7px 4px 16px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 4px 16px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 4px 16px 5px rgba(0, 0, 0, 0.75);
}
.opisanie__gamename {
  font-size: 25px;
  padding: 20px 0px 25px 15px;
}
.opisanie__dostup {
  font-size: 22px;
  padding: 15px 0px 0px 15px;
}
.opisanie__lider {
  margin: 5px 0px 0px 15px;
  padding: 2px 5px;
  background-color: #394148;
  font-size: 13px;
  color: #eaebeb;
  border-radius: 2px;
}

.miniscreen {
  display: flex;

  gap: 8px;
  flex-wrap: wrap;
}
.specialofferzag {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.specialoffer {
  display: flex;
  flex-direction: column;
}

.specialofferzag__button {
  padding: 2px 10px;
  background-color: transparent;
  color: white;
  border-style: none;
  outline: 1px solid rgb(196, 196, 196);
}
.offercardcontainer {
  display: flex;
  gap: 12px;
}
.offerblock {
  display: flex;
  flex-direction: column;
  background-color: #1e7297;
  -webkit-box-shadow: 0px -1px 6px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -1px 6px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -1px 6px 7px rgba(0, 0, 0, 0.3);
}
.offerblock__akciyaend {
  color: #acdbf5;
  font-size: 14px;
}
.offerblock__opisanie {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
}
.offerblock__akciyaDO {
  background-color: #4c6b22;
  width: 100px;
  height: 33px;
  font-size: 25px;
  color: #beee11;
  padding: 2px;
  text-align: center;
}
.offerblock__vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offervertical {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px -1px 6px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -1px 6px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -1px 6px 7px rgba(0, 0, 0, 0.3);
}
.offerverticalopis__skidka {
  background-color: #4c6b22;
  font-size: 25px;
  padding: 2px 4px;
  color: #beee11;
  font-weight: 400;
}

.offerverticalopis__offerlabel {
  padding-top: 5px;
  padding-left: 5px;
  color: #0f161f;
}
.offerverticalopis {
  display: flex;
  background-color: #abdaf4;
  justify-content: space-between;
  padding: 5px;
}

.offervertical__img {
  width: 305px;
  height: 140px;
}

.categorycontainer {
  display: flex;
  gap: 12px;
}
.categories__label {
  padding-bottom: 10px;
}
.categoria img {
  width: 100%;
  height: 100%;
}
.categoria a {
  display: inline-block;

  position: relative;

  line-height: 0;
}
.categoria__gradient-red:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    0deg,
    rgba(217, 18, 42, 1) 8%,
    rgba(223, 17, 42, 0) 100%
  );
  opacity: 0.8;
}

.categoria__gradient-red:before {
  content: "СПОРТ";
  display: inline-block;
  margin: 0px;
  font-size: 25px;
  position: absolute;
  top: 70%;
  left: 35%;
  z-index: 100;
}
.categoria__gradient-blue:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    0deg,
    rgb(29, 15, 223) 8%,
    rgba(223, 17, 42, 0) 100%
  );
  opacity: 0.8;
}

.categoria__gradient-blue:before {
  content: "ХОРРОР";
  display: inline-block;
  margin: 0px;
  font-size: 25px;
  position: absolute;
  top: 70%;
  left: 35%;
  z-index: 100;
}
.categoria__gradient-yellow:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    0deg,
    rgb(185, 216, 13) 8%,
    rgba(223, 17, 42, 0) 100%
  );
  opacity: 0.8;
}

.categoria__gradient-yellow:before {
  content: "ГОЛОВОЛОМКА";
  display: inline-block;
  margin: 0px;
  font-size: 25px;
  position: absolute;
  top: 70%;
  left: 7%;
  color: white;
  z-index: 100;
}
.categoria__gradient-green:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    0deg,
    rgb(15, 230, 79) 8%,
    rgba(223, 17, 42, 0) 100%
  );
  opacity: 0.8;
}

.categoria__gradient-green:before {
  content: "ГОНКИ";
  display: inline-block;
  margin: 0px;
  font-size: 25px;
  position: absolute;
  top: 70%;
  left: 35%;
  z-index: 100;
}
.enterblock {
  display: flex;
  flex-direction: column;
  background-color: #16202d;
  align-items: center;
  padding: 25px 0 25px 0px;
  gap: 25px;
  color: #8f98a0;
  font-size: 15px;
}
.enterblock__button {
  background-color: #90af06;
  color: #f3f7e4;
  border-style: none;
  padding: 7px 18px;
  font-size: 15px;
  border-radius: 2px;
}
.popolarsecrions__container {
  display: flex;
  justify-content: space-between;
}
.popolarsecrions__news {
  width: 230px;
  height: 55px;
  background: linear-gradient(
    74deg,
    rgba(59, 205, 255, 1) 8%,
    rgba(36, 113, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 3px;
  font-size: 18px;
}
.popolarsecrions__label {
  padding-bottom: 10px;
}

.undercenacontainer {
  display: flex;
  gap: 7px;
}

.undercenacontainer__block {
  display: flex;
  flex-direction: column;
}
.undercenacontainer__image {
  width: 100%;
  height: 100%;
}
.undercenacontainer__blockcena {
  background-color: #3f4952;
  padding: 5px;
  font-size: 12px;
}
.undercenacontainer__cena {
  background-color: #2f3842;
  width: 60px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.undercenaline {
  display: flex;
  justify-content: space-between;
}
.udnercenabuttons button {
  background-color: transparent;
  border-style: none;
  outline: 1px solid white;
  color: white;
  border-radius: 1px;
  padding: 3px 10px;
  text-align: center;
}
.udnercenabuttons {
  display: flex;
  gap: 7px;
}
.undercenaline {
  padding-bottom: 10px;
}
.categorymenu {
  display: flex;
  font-size: 14px;
  display: flex;

  color: #4b7faa;
}
.categorymenu__element {
  padding: 7px;
  border-radius: 4px;
}
.categorymenu__element:hover {
  background-color: #2a475e;
  color: white;
}
.gradient2 {
  background: rgb(27, 40, 56);
  background: linear-gradient(
    0deg,
    rgba(27, 40, 56, 1) 0%,
    rgba(34, 54, 73, 1) 47%,
    rgba(38, 64, 84, 1) 100%
  );
}
.gamewidthcategorycontainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}

.game {
  display: flex;
}
.game__opis {
  padding: 10px 15px;
  min-width: 435px;
  background-color: #212c3a;
  color: #687a8a;
}
.game__cena {
  color: white;
}
.game__platformandcena {
  display: flex;
  justify-content: space-between;
}
.game__tag {
  font-size: 12px;
}
